.os{
	background-color: red;
	margin-bottom: 10px;
	padding: 10px;
	color:#fff;
}
.new{
	background: #00f;
	color: #fff;
	margin-bottom: 10px;
	padding: 10px;
}
.warning{
	color: #fff;
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
	font-size: 25px;
}